//colors
$color-1: #0000FF; // Blue
$color-2: #000000; // Black
$color-3: #FFF600; // Yellow
$color-4: #E30022; // Red
$color-5: #FFFFFF; // White

// fonts
$primary-font: 'Raleway',
sans-serif;
$secondary-font: 'Montserrat Alternates',
sans-serif;

//media widths
$width1: 480px;
$width2: 900px;

//border
$border: solid $color-2 .4375em;
$border-1: solid $color-2 0.875em;