@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital@1&family=Raleway&display=swap');

//colors
$color-1: #0000FF; // Blue
$color-2: #000000; // Black
$color-3: #FFF600; // Yellow
$color-4: #E30022; // Red
$color-5: #FFFFFF; // White

// fonts
$primary-font: 'Raleway',
sans-serif;
$secondary-font: 'Montserrat Alternates',
sans-serif;

//media widths
$width1: 480px;
$width2: 900px;

//border
$border: solid $color-2 .4375em;
$border-1: solid $color-2 0.875em;

//basic elements
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 1em;
  background-color: $color-2;
}

.intro {
  position: relative;
}

header::before {
  background-image: url('/images/zengardenlogo.svg');
  background-size: 100px 100px;
  display: inline-block;
  width: 100px; 
  height: 100px;
  content:"";
}

h1,
h2,
h3 {
  font-family: $secondary-font;
  font-weight: bold;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
  padding-left: 10px;
  padding-bottom: 1px;
  margin-bottom: 0;
}

p {
  font-family: $primary-font;
  padding: 10px;
}

//Grid
​.page-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

​.intro {
  display: grid;
}

​ header,
.summary,
.preamble {
  grid-column: 1/3;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.explanation {
  grid-column: 1/3;
}

.participation {
  grid-column: 1/3;
}

​.benefits,
.requirements {
  grid-column: 1/3;
}

​.sidebar .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

​.design-selection,
.design-archives,
.zen-resources {
  grid-column: 1/3;
}

header {
  border: $border;
  background-color: $color-4;
}

header h1 {
  margin: 0;
  padding: 5px;
}

header h2 {
  margin: 0;
  padding: 5px;
}

.summary {
  background-color: $color-1;
  border: $border;
  color: $color-5;

  a {
    color: $color-5;
  }
}

.preamble {
  border: $border;
  background-color: $color-5;
}

.explanation {
  background-color: $color-3;
  border: $border;
}

.participation {
  border: $border;
  background-color: $color-4;
  color: $color-5;

  a {
    color: $color-5;
  }
}

.benefits {
  border: $border;
  background-color: $color-1;
  color: $color-5;
}

.requirements {
  border: $border;
  background-color: $color-5;

  a {
    color: $color-2;
  }
}

footer {
  border: $border;
  background-color: $color-2;
  color: $color-5;

  a {
    color: $color-5;
    font-family: $primary-font;
  }
}

.design-selection {
  border-top: $border-1;
  background-color: $color-3;

  h3 {
    color: $color-2;
    padding-left: 10px;
  }

  ul {
    list-style-type: none;
    text-align: left;
    padding-right: 5px;
    font-family: $primary-font;
  }

  a {
    color: $color-2;
    padding: 5px;
  }
}

.design-archives {
  border-top: $border-1;
  background-color: $color-1;
  color: $color-5;

  h3 {
    padding-left: 10px;
  }

  ul {
    list-style-type: none;
    text-align: left;
    font-family: $primary-font;
  }

  a {
    color: $color-5;
    padding: 1px;
  }
}

.zen-resources {
  border-top: $border-1;
  background-color: $color-4;

  h3 {
    padding-left: 10px;
    color: $color-5;
  }

  a {
    color: $color-5;
    padding: 1px;
  }

  ul {
    list-style-type: none;
    text-align: left;
    padding-right: 5px;
    font-family: $primary-font;
  }
}

//large View
@media (min-width: $width2) {
  .page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  //intro section
  .intro {
    grid-column: 2/5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  header,
  .summary {
    grid-column: 1/4;
  }

  .preamble {
    grid-column: 1/3;
    position: relative;
  }

  //main supporting
  #zen-supporting {
    grid-column: 2/5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
  }

  .explanation {
    grid-column: 3/4;
    margin-top: -75px;
    position: relative;
  }

  .participation {
    grid-row: 1;
    grid-column: 1/3;
    position: relative;
  }

  .benefits {
    grid-column: 3/4;
    position: relative;
  }

  .requirements,
  footer {
    grid-column: 1/4;
    position: relative;
  }

  footer {
    padding: 10px;
  }

  footer a {
    padding: 0 20px;
    color: $color-5;
    margin: 10px;
  }

  //aside
  .sidebar .wrapper {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr;
  }

  aside.sidebar {
    grid-row: 2;
    display: grid;
    align-items: end;
    background-color: $color-5;
    border-top: $border;
    border-right: $border;
  }

  .design-selection,
  .design-archives,
  .zen-resources {
    grid-column: 1/2;
  }

  //Transition Mixin
  @mixin transition($title, $background-color, $text-color) {
    content: "#{$title}";
    font-family: $secondary-font;
    background-color: $background-color;
    width: 100%;
    display: block;
    height: 100%;
    position: absolute;
    transition: .75s ease-in-out;
    text-align: center;
    color: $text-color;
    font-size: 25px;
    opacity: 1;
  }

  @mixin transition-end($direction) {
    content: " ";
    #{$direction}: 0;
    transition: .75s ease-in-out;
    opacity: 0;
  }

  //transition 
  #zen-preamble::before {
    @include transition("The Road to Enlightenment", $color-3, #fff);
    color: $color-2;
  }

  #zen-preamble:hover::before {
    @include transition-end(width);
  }

  #zen-explanation::before {
    @include transition("So What is This About?", $color-4, #fff);
  }
    

  #zen-explanation:hover::before {
    @include transition-end(height);
  }

  #zen-participation::before {
    @include transition("Participation", $color-1, #fff);
  }

  #zen-participation:hover::before {
    @include transition-end(width);
  }

  #zen-benefits::before {
    @include transition("Benefits", $color-3, #000);
  }

  #zen-benefits:hover::before {
    @include transition-end(width);
  }

  #zen-requirements::before {
    @include transition("Requirements", $color-4, #fff);
  }

  #zen-requirements:hover::before {
    @include transition-end(width);
  }
}